<!DOCTYPE html>

<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title | Sahaf.Com </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Html.Partial("_PartialHead")
    <!-- breadcrumbs Area Start -->
    <div class="breadcrumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs">
                        <h2>@ViewBag.Title</h2>
                        <ul class="breadcrumbs-list">
                            <li>
                                <a title="Return to Home" href="@Url.Action("Index","Home")">ANASAYFA</a>
                            </li>
                            <li>@ViewBag.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs Area End-->

    @RenderBody()
    @RenderSection("scripts", false)
    <script>
        function CartUpdate(deger,gid) {
            $.ajax({
                type: "Get",
                url: '@Url.Action("UpdateCart","Cart")',
                data: { quantity: deger, id: gid },
                success: function (data) {
                    $("#dvBasket").html(data);
                    location.reload();
                }
            })
        }

        function DeleteItemCart(gid) {
            var cvp = confirm("Kitabı Sepetten Çıkarmak İstediğinize Eminmisiniz?")
            if (cvp) {
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("DeleteItemCart","Cart")',
                    data: { id: gid },
                    success: function (data) {
                        $("#dvBasket").html(data);
                        location.reload();
                    }
                })
            }
        }

        function AddToMyCart(aid) {
            $.ajax({
                type: "Get",
                url: '@Url.Action("AddToCart","Cart")',
                data: { id: aid },
                success: function (data) {
                    $("#shopping_cart li:nth-child(2)").html(data);
                }

            })
        }


    </script>
    @Html.Partial("_PartialFooter")
    </body>
</html>
