
<a href="@Url.Action("Index","Cart")">

    <i class="flaticon-shop"></i>

    <span>
        @Html.Label(((Session["cart"] as MyCart).TotalAmount).ToString())
    </span>
</a>
<div class="add-to-cart-product">

    @using Sahaf.UI.MVC.Tools
    @{
        decimal totalPrice = 0;
    }

    @foreach (CartItem item in (Session["cart"] as MyCart).GetAllCartItem)
    {
        <div class="cart-product">
            <div class="cart-product-image">
                <a href="single-product.html">
                    @if (string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="~/Content/home-img/featured/1.jpg" alt="@item.BookName" width="80" height="80">
                    }
                    else
                    {
                        <img src="@Url.Content(item.ImageUrl)" alt="@item.BookName" width="80" height="80" multiple />
                    }
                </a>
            </div>
            <div class="cart-product-info">
                <p>
                    <span>@item.Quantity</span>
                    x
                    <a href="single-product.html">@item.BookName</a>
                </p>

                <span class="cart-price">$@item.Price</span>
            </div>
            <div class="cart-product-remove">
                <i class="fa fa-times"></i>
            </div>
        </div>
        totalPrice += item.SubTotal;
    }
    <div class="total-cart-price">

        <div class="cart-product-line">
            <span>Total</span>
            <span class="total">&#8378; @totalPrice</span>
        </div>
    </div>
    <div class="cart-checkout">
        <a href="@Url.Action("Index","Cart")">
            Detay Sayfası
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>
</div>