<div class="shopping-cart-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="dvBasket" class="wishlist-table-area table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th class="product-remove">Remove</th>
                                <th class="product-image">Image</th>
                                <th class="t-product-name">Product Name</th>
                                <th class="product-edit">Yazar</th>
                                <th class="product-unit-price">Unit Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-subtotal">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (CartItem item in (Session["cart"] as MyCart).GetAllCartItem)
                            {

                                <tr>
                                    <td class="product-remove">
                                        <a href="Javascript:void(0" onclick="DeleteItemCart(@item.ID)">
                                            <i class="flaticon-delete"></i>
                                        </a>
                                    </td>
                                    <td class="product-image">
                                        <a href="#">
                                            @if (string.IsNullOrEmpty(item.ImageUrl))
                                            {
                                                <img src="~/Content/home-img/featured/1.jpg" alt="@item.BookName" width="80" height="80">
                                            }
                                            else
                                            {
                                                <img src="@Url.Content(item.ImageUrl)" alt="@item.BookName" width="80" height="80" multiple />
                                            }
                                        </a>
                                    </td>
                                    <td class="t-product-name">
                                        <h3>
                                            <a href="#">@item.BookName</a>
                                        </h3>
                                    </td>
                                    <td class="product-edit">
                                        <p>
                                            <a href="#">@item.Writer</a>
                                        </p>
                                    </td>
                                    <td class="product-unit-price">
                                        <p>&#8378; @item.Price</p>
                                    </td>
                                    <td class="product-quantity product-cart-details">
                                        <input type="number" value="@item.Quantity" min="0" onchange="CartUpdate(this.value,@item.ID)">
                                    </td>
                                    <td class="product-quantity">
                                        <p>&#8378; @item.SubTotal</p>
                                    </td>
                                </tr>

                            }


                        </tbody>
                    </table>
                </div>
                @*<div class="shopingcart-bottom-area">
                    <a class="left-shoping-cart" href="#">CONTINUE SHOPPING</a>
                    <div class="shopingcart-bottom-area pull-right">
                        <a class="right-shoping-cart" href="#">CLEAR SHOPPING CART</a>
                        <a class="right-shoping-cart" href="#">UPDATE SHOPPING CART</a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
<div class="discount-area">
    <div class="container">
        <div class="row">
            @*<div class="col-md-6 col-sm-6">
                <div class="discount-main-area">
                    <div class="discount-top">
                        <h3>DISCOUNT CODE</h3>
                        <p>Enter your coupon code if have one</p>
                    </div>
                    <div class="discount-middle">
                        <input type="text" placeholder="">
                        <a class="" href="#">APPLY COUPON</a>
                    </div>
                </div>
            </div>*@
            <div class="col-md-6 col-sm-6">
                <div class="subtotal-main-area">
                    <div class="subtotal-area">
                        <h2>
                            SUBTOTAL<span>
                                @((Session["cart"] as MyCart).GetAllCartItem.Sum(x => x.SubTotal).ToString("C2"))
                            </span>
                        </h2>
                    </div>

                    <a href="#">CHECKOUT</a>
                    <p>Checkout With Multiple Addresses</p>
                </div>
            </div>
        </div>
    </div>
</div>