<!DOCTYPE html>

<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title | Sahaf.Com </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Html.Partial("_PartialHead")

    <!-- slider Area Start -->
    <div class="slider-area">
        <div class="bend niceties preview-1">
            <div id="ensign-nivoslider" class="slides">
                <img src="https://picsum.photos/id/135/1920/450" alt="" title="#slider-direction-1" />
                <img src="https://picsum.photos/id/329/1920/450" alt="" title="#slider-direction-2" />
            </div>
            <!-- direction 1 -->
            <div id="slider-direction-1" class="text-center slider-direction">
                <!-- layer 1 -->
                <div class="layer-1">
                    <h2 class="title-1">LET’S WRITE IMAGINE</h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-2">
                    <p class="title-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- layer 3 -->
                <div class="layer-3">
                    <a href="#" class="title-3">SEE MORE</a>
                </div>
                <!-- layer 4 -->
                <!-- <div class="layer-4">
                    <form action="#" class="title-4">
                        <input type="text" placeholder="Enter your book title here">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div> -->
            </div>
            <!-- direction 2 -->
            <div id="slider-direction-2" class="slider-direction">
                <!-- layer 1 -->
                <div class="layer-1">
                    <h2 class="title-1">LET’S WRITE IMAGINE</h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-2">
                    <p class="title-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- layer 3 -->
                <div class="layer-3">
                    <a href="#" class="title-3">SEE MORE</a>
                </div>
                <!-- layer 4 -->
                <div class="layer-4">
                    <form action="#" class="title-4">
                        <input type="text" placeholder="Enter your book title here">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    @RenderBody()
    @RenderSection("scripts", false)
    @Html.Partial("_PartialFooter")

    </body>
</html>
