<div class="shop-widget">
    <div class="shop-widget-top">
        <aside class="widget widget-categories">
            <h2 class="sidebar-title text-center">BANA ÖZEL</h2>
            <ul class="sidebar-menu edit-sidebar-menu">
                <li>
                    <a href="@Url.Action("Index","Account")" class="btn btn-default">Profilim</a>
                </li>
                <li>
                    <a href="@Url.Action("MyAdverts","Account")" class="btn btn-default">ilanlarım</a>
                </li>
                <li>
                    <a href="@Url.Action("AddAdvert","Account")" class="btn btn-default">İlan Ekle</a>
                </li>
                <li>
                    <a href="@Url.Action("MyOrders","Account")" class="btn btn-default">siparişlerim</a>
                </li>
                <li>
                    <a href="@Url.Action("MyInbox","Account")" class="btn btn-default">mesajlarım</a>
                </li>
                <li>
                    <a href="@Url.Action("MyFavorites","Account")" class="btn btn-default">favorilerim</a>
                </li>
                <li>
                    <a href="@Url.Action("Sahaf","Account")" class="btn btn-default">sahaf hesaba geç</a>
                </li>
            </ul>
        </aside>
    </div>
</div>
